/*
 * Copyright (C) 2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/*
 * Hardware on evb
 * gpio port expander SX1509
 * rtc PCF85063ATL
 * audio codec SGTL 5000
 * backlight regulators pwm *2 -> solo pwm1 x backlight
 * sim card connector
 * MIPI -> LVDS bridge SN65DSI83
 */

/ {
	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 50000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		status = "okay";
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_audio_dummy: regulator@100 {
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "audio_vdda_vddio";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
		
		reg_1v8_audio_dummy: regulator@101 {
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "audio_vddd";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;		
		};

		/* pin SD2-DAT0 */
		reg_usb_otg2_vbus: regulator@102 {
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "usb_otg2_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio5 14 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		/*  pin USB-OTG1-PWR */
		reg_usb_otg1_vbus: regulator@103 {
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "usb_otg1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 5 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_sd2_vmmc: regulator@104 {
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "VDD_SD2";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
		
		reg_camera_dummy: regulator@105 {
			compatible = "regulator-fixed";
			reg = <105>;
			regulator-name = "reg-camera-dummy";
			regulator-min-microvolt = <1500000>;
			regulator-max-microvolt = <2800000>;
		};
	};
	
	mipi_dsi_reset: mipi-dsi-reset {
		compatible = "gpio-reset";
		/* HACK: We don't have a RESET GPIO but it is required by driver */
		/* so we chose a not muxed GPIO (GPIO1_IO01 pin is muxed as PWM1) */
		reset-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>; 
		reset-delay-us = <1000>;
		#reset-cells = <0>;
	};
	
	sound {
		compatible = "egf,imx7-egf-sgtl5000",
			     "simple-audio-card";
		simple-audio-card,name = "imx7-egf-sgtl5000-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&codec_dai>;
		simple-audio-card,frame-master = <&codec_dai>;
		simple-audio-card,widgets =
			"Headphone", "Headphone Jack",
			"Line", "Line In Jack",
			"Microphone", "Mic Jack";
		simple-audio-card,routing =
			"MIC_IN", "Mic Jack",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT";
		cpu_dai: simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};
 
		codec_dai: simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};
};

&clks {
	assigned-clocks = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
	assigned-clock-rates = <884736000>;
};

&csi1 {
	csi-mux-mipi = <&gpr 0x14 4>;
	status = "disabled";

	port {
		csi_ep: endpoint {
			remote-endpoint = <&csi_mipi_ep>;
		};
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <>;
	status = "okay";
	
	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5640_mipi";
		reg = <0x3c>;
		clocks = <&clks IMX7D_CLK_DUMMY>;
		clock-names = "csi_mclk";
		csi_id = <0>;
		pwn-gpios = <&gpioexp 6 1>;   /* active low / gpioexp  */
		rst-gpios = <&gpioexp 7 0>;   /* active high / gpioexp */
		DOVDD-supply = <&reg_camera_dummy>; /* 1.8v */
		AVDD-supply = <&reg_camera_dummy>;  /* 2.8v,*/
		DVDD-supply = <&reg_camera_dummy>;  /* 1.5v */
		mclk = <24000000>;
		mclk_source = <0>;
		status="disabled";
		port {
			ov5640_mipi_ep: endpoint {
				remote-endpoint = <&mipi_sensor_ep>;
			};
		};
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <>;
	status = "okay";
	
	gpioexp: sx1509@70 {
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		compatible = "semtech,sx1509q";
		reg = <0x70>;
		interrupt-parent = <&gpio5>;
		interrupts = <16 1>;
		gpio-controller;
		reset_during_probe;
	};
	
	rtc@51 {
		compatible = "nxp,pcf85063";
		reg = <0x51>;
	};
	
	codec: sgtl5000@0a {
		#sound-dai-cells = <0>;
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks IMX7D_AUDIO_MCLK_ROOT_CLK>;
		clock-names = "mclk";
		VDDA-supply = <&reg_audio_dummy>;
		VDDIO-supply = <&reg_audio_dummy>;
		VDDD-supply = <&reg_1v8_audio_dummy>;
	};
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <>;
	status = "okay";
};

&sai2 {
	pinctrl-names = "default";
	pinctrl-0 = <>;
	#sound-dai-cells = <0>;
	assigned-clocks = <&clks IMX7D_SAI2_ROOT_SRC>,
			  <&clks IMX7D_SAI2_ROOT_CLK>;
	assigned-clock-parents = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
	assigned-clock-rates = <0>, <36864000>;
	status = "okay";
};

/* pwm4 */
&pwm4 {
	status = "disabled";
};

/* uSD */
&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <>;
	bus-width = <4>;
	no-1-8-v;
	cd-gpios = <&gpio5 0 1>;
	status = "okay";
};

/* pci */
&pcie {
	status = "okay";
};

/* camera */
&mipi_csi {
	clock-frequency = <240000000>;
	status = "okay";
	port {
		mipi_sensor_ep: endpoint1 {
			remote-endpoint = <&ov5640_mipi_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};

		csi_mipi_ep: endpoint2 {
			remote-endpoint = <&csi_ep>;
		};
	};
};

/* usb otg1 */
&usbotg1 {
	vbus-supply = <&reg_usb_otg1_vbus>;
	status = "okay";
};

/* usb host (otg2) */
&usbotg2 {
	vbus-supply = <&reg_usb_otg2_vbus>;
	dr_mode = "host";
	status = "okay";
};


&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <>;
	display = <&display0>;
	disp-dev = "mipi_dsi_samsung";
	status = "okay";

	display0: display {
		bits-per-pixel = <24>;
		bus-width = <24>;

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
			clock-frequency = <51200000>;
			hactive = <1024>;
			vactive = <600>;
			hfront-porch = <160>;
			hback-porch = <160>;
			hsync-len = <60>;
			vback-porch = <23>;
			vfront-porch = <12>;
			vsync-len = <10>;

			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <0>;
			};
		};
	};
};

&mipi_dsi {
	pinctrl-names = "default";
	pinctrl-0 = <>;
	lcd_panel = "EGF-BLC1133";
	resets = <&mipi_dsi_reset>;
	status = "okay";
};




